{% extends "base.html" %}
{% load cv_extras %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        {% include 'cv/includes/c_form.html' with form=credentials_form %}

        {% for formset in formsets %}
            <div class="py-5">
                <h1 class="text-center">{{ formset | prefix | upper }}</h1>
                {{ formset.management_form }}
                {% for form in formset %}
                    {% include 'cv/includes/q_form.html' with form=form formset=formset %}
                {% endfor %}
            </div>
        {% endfor %}

        <div class="text-center">
            <input class="btn btn-dark btn-lg cv-button" type="submit" value="Update">
        </div>
    </form>
{% endblock %}