<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    {% load static %}
    {% load cv_extras %}

    <link rel="stylesheet", type="text/css", href="{% static 'posts/style.css' %}">
    <meta charset="UTF-8">

    <title>Preview CV</title>
</head>
<body>
    {% if credentials %}
        <h1>{{ credentials.name }}</h1>
        <h3>{{ credentials.email }}</h3>
        <h3>{{ credentials.phone }}</h3>
        <h3>{{ credentials.address }}</h3>

        <br>
        <h2>SKILLS</h2>
        <ul>
            {% for skill in qualifications|get:"Skills" %}
                <li>{{ skill }}</li>
            {% endfor %}
        </ul>

        <h2>EDUCATION</h2>
        {% for ed in qualifications|get:"Education" %}
            <p>{{ ed | markdown | safe }}</p>
        {% endfor %}

        <h2>CAREER</h2>
        {% for cr in qualifications|get:"Career" %}
            <p>{{ cr | markdown | safe }}</p>
        {% endfor %}

        <a class="blog-title btn btn-light" href="{% url 'cv:edit' %}" role="button">Edit</a>
    {% else %}
        <h1>CV not available.</h1>
        <a class="blog-title btn btn-light" href="{% url 'cv:edit' %}" role="button">Create</a>
    {% endif %}

</body>
</html>