{% extends "base.html" %}
{% load extras %}

{% block content %}
    <div class="container jumbotron rounded px-5">
    {% if credentials %}
        <div class="text-right pr-4">
            <h1 class="display-4">{{ credentials.name }}</h1>
            <h3 class="text-muted">{{ credentials.phone }}</h3>
            <h3 class="text-muted">{{ credentials.address }}</h3>
            <h3 class="text-muted">{{ credentials.email }}</h3>
        </div>

        <div class="pl-4">
            {% for type in q_types %}
                <h2>{{ type | upper }}</h2>
                {% for q in qualifications|get:type %}
                    <div class="qualification">{{ q | markdown | safe }}</div>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="text-center">
            <a href="{% url 'cv:edit' %}" type="button" class="text-center btn btn-dark btn-lg cv-button">Edit</a>
        </div>
    {% else %}
        <h1>CV not available.</h1>
        <a class="blog-title btn btn-light" href="{% url 'cv:edit' %}" role="button">Create</a>
    {% endif %}
    </div>
{% endblock %}